.prem {
  padding: 73px 0 83px 0;
  background-color: #f6f6f6;
  min-height: 473px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 238px;
  }
  &__subtitle {
    color: #0d0d0d;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
  }
  &__descr {
    color: #0d0d0d;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px; /* 128.571% */
    margin-top: 20px;
  }
  a {
    color: #f00;
    text-decoration: underline;
  }
  &__icon {
    &_animated {
      animation-name: heartbeat;
      animation-duration: 2s;
      animation-timing-function: ease;
      animation-iteration-count: infinite;
    }
  }
}
